<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jukeboxd – Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>

 <div class="glass-card">
    <h2>Jukeboxd Login</h2>

    <input type="text" id="username" placeholder="Username">
    <input type="password" id="password" placeholder="Password">

    <button id="login-button">Login</button>

    <!-- Link to signup page -->
    <a href="/signup" class="signup-link">Create a new account</a>

    <div id="error-msg" class="error"></div>
 </div>

    <script src="/static/login.js"></script>

</body>
</html>
